@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir.ttc");
    font-weight: bold;
}
@font-face {
    font-family: "Paperland";
    src: url("/fonts/Paperland.ttf");
    font-weight: normal;
}

body{
    margin: 0px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.spinach {
    background-image: url(../img/Entry_3_Spinach.jpg);
    background-size: cover;
    background-position: center;
    background-color: #ffffc4;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 2%;
    height: fit-content;
}

.greenblock {
    background-color: #d3ff00;
    height: fit-content;
    margin-top: 100px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.responsive {
    width: 75%;
    height: auto;
  }

.responsive2 {
    width: 75%;
    height: auto;
  }

@media (min-width: 400px) and (max-width: 1000px) { 
    .responsive{
        display: none;
    }
 }

@media (min-width: 1000px) { 
    .responsive2{
        display: none;
    }
 }

.pcontainer {
    margin-left: 150px;
    margin-right: 150px;
}

p{
    font-family: "Avenir";
    font-weight: normal;
    font-size: 35px;
    line-height: 110%;
    color: white;
    text-align: center;
}

.h1container {
    margin-top: -55px;
    padding: 2px;
}

h1{
    font-family: "Paperland";
    font-size: 25vw;
    font-weight: normal;
    letter-spacing: -10px;
    line-height: 90%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: #d3ff00;
}

h2{
    font-family: "Avenir";
    font-weight: bolder;
    font-size: 40px;
    line-height: 110%;
    margin: 0%;
    text-align: center;
}

.PREV{
    float: left;
    font-family: "Paperland";
    font-size: 50px;
    color: black;
    transform: rotate(2deg);
}

.NEXT{
    float: right;
    font-family: "Paperland";
    font-size: 50px;
    color: black;
    transform: rotate(-1deg);
}

a{
    color: #db0000;
    font-size: 40px;
    background-color: antiquewhite;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
}

a:hover{
    color: black;
    font-size: 50px;
}

.BACKTOTOP{

    font-family: "Paperland";
    font-size: 50px;
    color: black;
    margin: 0px;
    padding: 2%;
    height: 100px;
    text-align: center;
    background-color: transparent;
    
}

.footer{
    background-color: black;
    height: 30px;
}